.bg1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 521px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;

    background-image: url('../images/Back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg2 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 521px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    background-image: url('../images/Back2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-top: -100px;
}

.heroheading {
    width: 1160px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 61px; 
    color: white;
}

.herop {
    width: 1160px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: white;

}